# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Builds
dist/
build/
.svelte-kit/
.next/
out/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database / SQLite
*.db
*.db-journal

# Logs
logs/
*.log
npm-debug.log*

# Local uploads and generated PDFs
backend/uploads/
backend/uploads/invoices/*

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
