PORT=5000
DATABASE_URL="postgresql://postgres:YOUR_DB_PASSWORD@localhost:5432/bulk_invoice_db?schema=public"
JWT_SECRET="your-super-secret-jwt-key"
JWT_EXPIRES_IN="7d"

# Configuration for invoice generation
STARTING_INVOICE_NUMBER=112

# CA secure bank account configuration
BANK_NAME="HDFC Bank"
BANK_ACCOUNT_NO="50200112005848"
BANK_IFSC="HDFC0009860"
BANK_BRANCH="BAHDURPALLY"
